@font-face {
  font-family: 'SF Compact Rounded Black';
  src: url('/fonts/SF-Compact-Rounded-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SFUIDisplay';
  src: url('/fonts/SFUIDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SFUIDisplay';
  src: url('/fonts/SFUIDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SFUIDisplay';
  src: url('/fonts/SFUIDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SFUIDisplay';
  src: url('/fonts/SFUIDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Compact Rounded Light';
  src: url('/fonts/SFCompactRounded-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@import './variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-y: scroll;
}

body {
  font-family: var(--font-family);
  background: var(--color-body);
  color: var(--color-main);
  font-size: 12px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

button,
a {
  cursor: pointer;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
fieldset {
  outline: none;
  border: none;
}
