.page {
  padding-top: 24px;
}

.tabsNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  gap: 24px;
}
.tab {
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  color: var(--color-main);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.active {
  color: var(--color-raspberry);
  border-bottom-color: var(--color-raspberry);
}

.listArea {
  padding-top: 0;
}
