:root {
  --font-family:
    'SF UI Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --second-family:
    'SF Compact Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --third-family: 'SF Compact Rounded Light', -apple-system, BlinkMacSystemFont, sans-serif;
  --fourth-family: 'SF Compact Rounded Black', sans-serif;

  --color-main: #333;
  --color-main-opaque: #33333380;
  --color-raspberry: #ff2d55;
  --color-raspberry-opaque: #ff2d5580;
  --color-white: #fff;
  --color-main-mid: rgba(51, 51, 51, 0.7);
  --color-pink: rgba(244, 113, 122, 0.7);
  --color-background: #e55a63;
  --color-background-admin: #5c5d67;
  --color-grey: #a1a1a1;
}

@media (min-width: 1440px) {
  .page-container {
    padding: 0 48px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
